body{
    margin: 0;
    font-family: serif;
}
header{
    display: flex;
    justify-content: center;
    background-color: bisque;
    padding: 20px;
}

header   button{
    margin-left: 30px;
   border-style: none;
   font-family: sans-serif;
   font-size: 24px;
   background-color: bisque;
   cursor: pointer;

}
header button:hover{
    background-color: rgb(191, 136, 74);

}


#content{
  
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px;
    border-left: 2px solid pink;
    border-right: 2px solid pink;
}

#content div{
    display: flex;
    flex-direction: column;

}
#content a{
  
    text-decoration: none;
    color: rgb(104, 200, 9);
    cursor: pointer;
}

#content img{
    margin: 40px;
    width:80%; 
    

}



